h1{
    color:blueviolet;
    background-color: black;
    text-align: center;
}
p{
    color: blue;
    text-transform: capitalize;
    text-indent: 30px;
    letter-spacing:10px;
    word-spacing: 5px;
    line-height: 30px;
}