img{
    width: 400px;
}
img:hover{
    opacity: 0.5;
}
.bg{
   width: 700px;
   height: 400px;
    background: url(image.png) no-repeat center;
}
p{
    font-size: 50px;
}
.box p{
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 100px;

opacity: 0.5;
}