*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
main{
    width: 75%;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: #000;
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3,1fr) 150px;
    grid-gap:10px ;



}
.div1{background-color: #ff47ff;
grid-column: 1/-1;}
.div2{background-color: #3747fe;}
.div3{background-color: #4847ee;}
.div4{background-color: #9947fa;}
.div5{background-color: #7847fa;
grid-row: 2/4;grid-column: 4/5;}
.div6{background-color: #f47;
grid-column: 1/span 3;}
.div7{background-color: #ff49;
grid-column: 1/-1;}