.p1{
    border: 3px solid red;
    width: 400px;
    margin: auto;
}
.p2{
    border: 3px solid green;
    max-width: 400px;
    margin: auto;
}
.p3{
    width: 400px;
    height: 10px;
    border: 5px solid black;
    overflow: auto;
}